[submodule "curry-base"]
  path = frontend/curry-base
  url = git://git-ps.informatik.uni-kiel.de/curry/sads-curry-base.git

[submodule "curry-frontend"]
  path = frontend/curry-frontend
  url = git://git-ps.informatik.uni-kiel.de/curry/sads-curry-frontend.git

[submodule "currytools"]
	path = currytools
	url = git://git-ps.informatik.uni-kiel.de/curry/sads-curry-tools.git

[submodule "lib-trunk"]
	path = lib-trunk
	url = git://git-ps.informatik.uni-kiel.de/curry/sads-curry-libs.git
